
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Timesheet/Views/Shared/_LayoutTimesheet.cshtml";
}

<div class="jumbotron">
    <p class="lead">Система контроля исполнения проектов - Таймшит</p>
</div>

