
@{
    ViewBag.Title = "TIMESHEET";
}

<h2></h2>
<h3>Справка по Timesheet</h3>

<p>
    Для ввода трудозатрат Вам необходимо открыть раздел <b>Таймшит->Мои трудозатраты</b> или перейти по ссылке @Html.ActionLink("Мои трудозатраты", "MyHours", "TSHoursRecord") .

</p>
<p>
    Для перехода в раздел отклоненных трудозатрат Вам необходимо открыть раздел <b>Таймшит->Мои отклоненные трудозатраты</b> или перейти по ссылке: @Html.ActionLink("Мои отклоненные трудозатраты", "MyHours", "TSHoursRecord", new { isDeclined = "isDeclined" }, null)

</p>


<p>
    Если Вы являетесь Руководителем проекта и Вам необходимо согласовать трудозатраты, необходимо открыть раздел <b>Таймшит->Согласование трудозатрат</b> или перейти по ссылке: @Html.ActionLink("Согласование трудозатрат", "ApproveHours", "TSHoursRecord")
</p>

<p>Памятки по заполнению, согласованию ТШ2, а также полное руководство пользователя Вы можете изучить, перейдя по ссылкам:</p>


<p><b>Контактная информация:</b></p>



<p>
    <div class="separeted-hrefs">
        @Html.ActionLink("На главную", "Index", "Home")
    </div>
</p>

